Source: pkg-haskell-tools
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Ilias Tsitsimpis <iliastsi@debian.org>,
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 10),
 pandoc,
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc,
 ghc-prof,
 libghc-debian-dev (>= 3.89),
 libghc-extra-dev (>= 1.1),
 libghc-optparse-applicative-dev (>= 0.16),
 libghc-parsec3-dev,
 libghc-shake-dev (>= 0.16),
 libghc-split-dev (>= 0.2),
 libghc-split-dev (<< 0.3),
 libghc-text-dev,
 libghc-concurrent-output-dev (>= 1.7),
 libfile-slurp-perl
Standards-Version: 4.6.2
Homepage: https://wiki.debian.org/Haskell
Vcs-Browser: https://salsa.debian.org/haskell-team/pkg-haskell-tools
Vcs-Git: https://salsa.debian.org/haskell-team/pkg-haskell-tools.git
Rules-Requires-Root: no

Package: pkg-haskell-tools
Architecture: any
Depends:
 devscripts (>= 2.16.6),
 dctrl-tools,
 reprepro,
 cabal-debian (>= 4.31),
 perl,
 libfile-slurp-perl,
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 colordiff
Description: Debian Haskell Group tools
 This package provides various convenience tools used by the Debian Haskell
 Group.
